
body{
    background: #f9f9f9;
    font-family: Arial,"微软雅黑","黑体";
    font-size: 14px;
    padding: 0px;
    margin: 0px;

}
.wrapper{
    width: 1024px;
    margin: auto;
}
a{
    text-decoration: none;
    color: #273135;
}
ul{
    padding: 0px;
    margin: 0px;
}
li{
    list-style: none;
}
.hidden{
    display: none!important;
}



.animate{
    border: 3px solid blue;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.animate1{
    border: 3px solid yellow;
}
.animate2{
    border: 3px solid red;
}
.controls{

}
.controls .row{
    margin-bottom: 10px;
}
.controls .label{
    font-size: 14px;
    width: 150px;
    text-align: right;
    display: inline-block;
    height: 30px;
    vertical-align: top;
    line-height: 30px;
}
.controls .inputBox{
    display: inline-block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: blue;
}
/*
*header
*/
.header{
    width: 100%;
    height: 88px;
    background: url(../../images/app/headerBg.png) no-repeat;
}
/*
*menu
*/
.menu{
    border-top:3px solid #dae000;
    background: #273135;
    font-size: 0px;
}
.menu li {
    display: inline-block;
}
.menu li a{
    font-size: 18px;
    color: #6cd9ff;
    height: 42px;
    line-height: 42px;
    display: block;
    width: 140px;
    text-align: center;
    background: url(../../images/app/menuItemBg.png) no-repeat right center;
}
.menu li:last-child a{
    width: 324px;
    background: none;
}
.menu li a:hover,.menu li a.active{
    background-color:#036eb8;
    color: #fff;
}


.main{
    min-height: 700px;
    padding-bottom: 30px;
    padding-top: 10px;
    position: relative;
    background:url(../../images/app/menuBottomBg.png) no-repeat #fff;
}

/**
*实验公用
*/
.stepTip{
    margin-left: 120px;
    background: url(../../images/app/stepTip.png) no-repeat;
    height: 49px;
    line-height: 44px;
    width: 385px;
    color: #dae000;
}
.stepTip .title{
    font-size: 18px;
    font-weight: bold;
    margin-left: 40px;
}
.stepTip .content{
    margin-left: 50px;
}
.ctrl{
    cursor: pointer;
}
.restart{
    cursor: pointer;
    position: absolute;
    color: #6cd9ff;
    right:20px;
    top:20px
}
/*
*第一个实验
*/
.exp1 .computer{
    position: absolute;
    left:496px;
    top: 175px;
}
.exp1 .computerContent{
    position: absolute;
    left: 514px;
    top: 190px;
}
.exp1 .device{
    position: absolute;
    left:80px;
    top: 80px;
}
.exp1 .arrow{
    position: absolute;
    left: 630px;
    top: 130px;
}
.exp1 .arrow1{
    left: 680px;
    top: 160px;
}
.exp1 .arrow2{
    left: 685px;
    top: 156px;
}
.exp1 .arrow3{
    left: 575px;
    top: 158px;
}
.exp1 .arrow4{
    left: 527px;
    top: 112px;
}
.exp1 .arrow5{
    left: 784px;
    top: 126px;
}
.exp1 .arrow6{
    left: 628px;
    top: 136px;
}

.exp1 .detail{
    position: absolute;
    left:556px;
    top:60px;
}
.exp1 .detail1{
    top:30px;
    left:600px;
}
.exp1 .detail2{
    top:60px;
    left:524px;
}
.exp1 .detail3{
    top: 30px;
    left: 652px;
}
.exp1 .detail4{
    top: 50px;
    left: 652px;
}
.exp1 .detail5{
    top: 70px;
    left: 580px;
}

.exp1 .step1Ctrl1{
    width: 30px;
    height: 20px;
    /*background: url(../../images/exp1/step1/ctrl1.gif) no-repeat;*/
    position: absolute;
    left:890px;
    top:457px;
}
.exp1 .step1Ctrl2{
    width: 36px;
    height: 24px;
    /*background: url(../../images/exp1/step1/ctrl2.gif) no-repeat;*/
    position: absolute;
    left: 764px;
    top: 576px;
}
.exp1 .step2Ctrl{
    width: 80px;
    height: 60px;
    /*background: url(../../images/exp1/step2/ctrl.gif) no-repeat;*/
    position: absolute;
    left: 510px;
    top: 295px;
}
.exp1 .step3Ctrl{
    width: 201px;
    height: 21px;
    /*background: url(../../images/exp1/step3/ctrl.gif) no-repeat;*/
    position: absolute;
    left: 590px;
    top: 283px;
}
.exp1 .step4Ctrl{
    width: 150px;
    height: 215px;
    /*background: url(../../images/exp1/step4/ctrl.gif) no-repeat;*/
    position: absolute;
    left: 300px;
    top: 95px;
}
.exp1 .ruler{
    position: absolute;
    left:300px;
    top:100px;
}
.exp1 .step5Ctrl{
    width: 81px;
    height: 80px;
    /*background: url(../../images/exp1/step5/ctrl.gif) no-repeat;*/
    position: absolute;
    left: 320px;
    top: 230px;
}
.exp1 .long{
    width: 34px;
    height: 350px;
    position: absolute;
    left:440px;
    top:100px;
}
.exp1 .short{
    width: 32px;
    height: 64px;
    position: absolute;
    left:330px;
    top:240px;
}
.exp1 .step6Ctrl1{
    width: 36px;
    height: 150px;
    /*background: url(../../images/exp1/step6/ctrl1.gif) no-repeat;*/
    position: absolute;
    left: 390px;
    top: 80px;
}
.exp1 .step6Ctrl2{
    width: 20px;
    height: 30px;
    /*background: url(../../images/exp1/step6/ctrl2.gif) no-repeat;*/
    position: absolute;
    left: 341px;
    top: 482px;
}
.exp1 .long1{
    width: 17px;
    height: 102px;
    left:400px;
}
.exp1 .switch{
    position: absolute;
    left: 300px;
    top: 330px;
}
.exp1 .step7Ctrl{
    width: 20px;
    height: 30px;
    /*background: url(../../images/exp1/step7/ctrl.gif) no-repeat;*/
    position: absolute;
    left: 192px;
    top: 480px;

}
.exp1 .device1{
    position: absolute;
    left: 80px;
    top: 70px;
}
.exp1 .step8Ctrl{
    width: 40px;
    height: 41px;
    /*background: url(../../images/exp1/step8/ctrl.gif) no-repeat;*/
    position: absolute;
    left: 664px;
    top: 60px;
}

.exp1 .step9Ctrl{
    width: 40px;
    height: 41px;
    /*background: url(../../images/exp1/step9/ctrl.gif) no-repeat;*/
    position: absolute;
    left: 696px;
    top: 60px;
}
.exp1 .step10Ctrl{
    width: 40px;
    height: 41px;
    /*background: url(../../images/exp1/step10/ctrl.gif) no-repeat;*/
    position: absolute;
    left: 664px;
    top: 80px;
}
.exp1 .step11Ctrl{
    width: 40px;
    height: 41px;
    /*background: url(../../images/exp1/step11/ctrl.gif) no-repeat;*/
    position: absolute;
    left: 696px;
    top: 80px;
}
.exp1 .step12Ctrl{
    width: 40px;
    height: 41px;
   /* background: url(../../images/exp1/step12/ctrl.gif) no-repeat;*/
    position: absolute;
    left: 596px;
    top: 135px;
}

.exp1 .step13Ctrl{
    width: 127px;
    height: 27px;
    /*background: url(../../images/exp1/step13/ctrl.gif) no-repeat;*/
    position: absolute;
    left: 685px;
    top: 107px;
}
.exp1 .step14Ctrl{
    width: 37px;
    height: 37px;
    /*background: url(../../images/exp1/step14/ctrl.gif) no-repeat;*/
    position: absolute;
    left: 788px;
    top: 47px;
}

.exp1 .step15Ctrl{
    width: 131px;
    height: 47px;
    /*background: url(../../images/exp1/step15/ctrl.gif) no-repeat;*/
    position: absolute;
    left: 650px;
    top: 77px;
}
.exp1 .step16Ctrl{
    width: 20px;
    height: 30px;
    /*background: url(../../images/exp1/step16/ctrl.gif) no-repeat;*/
    position: absolute;
    left: 320px;
    top: 482px;
}
.exp1 .step17Ctrl{
    width: 37px;
    height: 37px;
    /*background: url(../../images/exp1/step17/ctrl.gif) no-repeat;*/
    position: absolute;
    left: 782px;
    top: 30px;
}
.exp1 .step18Ctrl{
    width: 141px;
    height: 35px;
    /*background: url(../../images/exp1/step18/ctrl.gif) no-repeat;*/
    position: absolute;
    left: 532px;
    top: 122px;
}

.exp1 .step19Ctrl{
    width: 87px;
    height: 21px;
    /*background: url(../../images/exp1/step19/ctrl.gif) no-repeat;*/
    position: absolute;
    left: 704px;
    top: 52px;
}

.exp1 .step20Ctrl{
    width: 87px;
    height: 21px;
    /*background: url(../../images/exp1/step20/ctrl.gif) no-repeat;*/
    position: absolute;
    left: 764px;
    top: 52px;
}
.exp1 .step21Ctrl{
    width: 355px;
    height: 43px;
    /*background: url(../../images/exp1/step21/ctrl.gif) no-repeat;*/
    position: absolute;
    left: 650px;
    top: 70px;
}

.exp1 .step22Ctrl{
    width: 40px;
    height: 41px;
    /*background: url(../../images/exp1/step22/ctrl.gif) no-repeat;*/
    position: absolute;
    left: 170px;
    top: 370px;
}
.exp1 .step23Ctrl{
    width: 175px;
    height: 67px;
    /*background: url(../../images/exp1/step23/ctrl.gif) no-repeat;*/
    position: absolute;
    left: 662px;
    top: 66px;
}
.exp1 .step24Ctrl{
    width: 40px;
    height: 41px;
    /*background: url(../../images/exp1/step24/ctrl.gif) no-repeat;*/
    position: absolute;
    left: 596px;
    top: 135px;
}
.exp1 .step25Ctrl{
    width: 57px;
    height: 57px;
    /*background: url(../../images/exp1/step25/ctrl.gif) no-repeat;*/
    position: absolute;
    left: 576px;
    top: 85px;
}
/**
*第二个实验
*/
.exp2 .tips{
    text-align: center;
    color: red;
    font-size: 18px;
}
.exp2 .step1Image{
    width: 626px;
    height: auto;
    display: block;
    margin:auto;
}
.exp2 .step1Ctrl{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
    /*background: url(../../images/exp2/step1/ctrl.gif) no-repeat;*/
}
.exp2 .step2Image1{
    width: 450px;
    height: auto;
    position: absolute;
    left:52px;
    top:100px;
}
.exp2 .step2Image2{
    width: 450px;
    height: auto;
    position: absolute;
    left:522px;
    top:100px;
}
.exp2 .step2Image3{
    width: 450px;
    height: auto;
    position: absolute;
    left:52px;
    top:100px;
}
.exp2 .step2Image4{
    width: 450px;
    height: auto;
    position: absolute;
    left:522px;
    top:100px;
}
.exp2 .step2Ctrl1{
    position: absolute;
    left: 240px;
    top: 150px;
    /*background: url(../../images/exp2/step2/ctrl.gif) no-repeat;*/
    width: 81px;
    height: 61px;
}
.exp2 .step2Ctrl2{
    position: absolute;
    left: 880px;
    top: 480px;
    /*background: url(../../images/exp2/step2/ctrl.gif) no-repeat;*/
    width: 81px;
    height: 61px;
}
.exp2 .step2Ctrl3{
    position: absolute;
    left: 55px;
    top: 280px;
    /*background: url(../../images/exp2/step2/ctrl.gif) no-repeat;*/
    width: 81px;
    height: 61px;
}
.exp2 .step2Ctrl4{
    position: absolute;
    left: 730px;
    top: 200px;
    /*background: url(../../images/exp2/step2/ctrl.gif) no-repeat;*/
    width: 81px;
    height: 61px;
}
.exp2 .step2Ctrl5{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
    /*background: url(../../images/exp2/step1/ctrl.gif) no-repeat;*/
}
.exp2 .step3Image{
    width: 775px;
    height: auto;
    display: block;
    margin: auto;
}
.exp2 .step3Ctrl1{
    position: absolute;
    left: 440px;
    top: 80px;
    /*background: url(../../images/exp2/step3/ctrl.gif) no-repeat;*/
    width: 81px;
    height: 61px;
}
.exp2 .step3Ctrl2{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
    /*background: url(../../images/exp2/step1/ctrl.gif) no-repeat;*/
}
.exp2 .step4Image1{
    width: 330px;
    height: auto;
    position: absolute;
    left:52px;
    top:100px;
}
.exp2 .step4Image2{
    width: 100px;
    height: auto;
    position: absolute;
    left:519px;
    top:100px;
    z-index: 10;
}
.exp2 .step4Image3{
    width: 94px;
    height: auto;
    position: absolute;
    left:522px;
    top:180px;
}
.exp2 .step4Ctrl1{
    position: absolute;
    left: 185px;
    top: 180px;
    /*background: url(../../images/exp2/step4/ctrl.gif) no-repeat;*/
    width: 81px;
    height: 61px;
}
.exp2 .step4Ctrl2{
    position: absolute;
    left: 530px;
    top: 280px;
    /*background: url(../../images/exp2/step4/ctrl.gif) no-repeat;*/
    width: 81px;
    height: 61px;
    z-index: 100;
}
.exp2 .step4Ctrl3{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
    /*background: url(../../images/exp2/step1/ctrl.gif) no-repeat;*/
}
.exp2 .step5Ctrl{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
    /*background: url(../../images/exp2/step1/ctrl.gif) no-repeat;*/
}
.exp2 .step6Image1{
    width: 600px;
    height: auto;
    position: absolute;
    left:52px;
    top:100px;
}
.exp2 .step6Image2{
    width: 250px;
    height: auto;
    position: absolute;
    left:552px;
    top:100px;
}
.exp2 .step6Ctrl{
    position: absolute;
    left: 570px;
    top: 570px;
    /*background: url(../../images/exp2/step6/ctrl.gif) no-repeat;*/
    width: 81px;
    height: 61px;
}
.exp2 .step7Image1{
    width: 155px;
    margin: 50px 50px 0px 100px;
    display: inline-block;
    vertical-align: top;
}
.exp2 .step7Image2{
    width: 346px;
    margin: 50px 50px 0px 100px;
    display: inline-block;
}
.exp2 .step7Ctrl1{
    position: absolute;
    width: 31px;
    height: 21px;
    left: 695px;
    top: 292px;
    /*background: url(../../images/exp2/step7/ctrl1.gif) no-repeat;*/
}
.exp2 .step7Ctrl2{
    position: absolute;
    width: 37px;
    height: 25px;
    left: 598px;
    top: 345px;
    /*background: url(../../images/exp2/step7/ctrl2.gif) no-repeat;*/
}
.exp2 .step7Ctrl3{
    position: absolute;
    width: 37px;
    height: 25px;
    left: 134px;
    top: 395px;
    /*background: url(../../images/exp2/step7/ctrl2.gif) no-repeat;*/
}
.exp2 .step8Image{
    width: 457px;
    height: auto;
    display: block;
    margin:50px auto 0px auto;
}
.exp2 .step8Ctrl{
    position: absolute;
    width: 81px;
    height: 61px;
    left: 284px;
    top: 225px;
    /*background: url(../../images/exp2/step8/ctrl.gif) no-repeat;*/
}
.exp2 .step9Image{
    width: 1000px;
    height: auto;
    display: block;
    margin:auto;
}
.exp2 .step9Ctrl{
    position: absolute;
    width: 201px;
    height: 21px;
    left: 384px;
    top: 235px;
    /*background: url(../../images/exp2/step9/ctrl.gif) no-repeat;*/
}
.exp2 .step10Image{
    width: 539px;
    height: auto;
    display: block;
    margin:auto;
}
.exp2 .step10Ctrl{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 416px;
    top: 130px;
    /*background: url(../../images/exp2/step10/ctrl.gif) no-repeat;*/
}
.exp2 .step11Image{
    width: 475px;
    height: auto;
    display: block;
    margin-left:10px;
    margin-top: 10px;
    position: absolute;
    top:70px;
    left:0px;
}
.exp2 .step11Controls{
    margin-left: 495px;
    padding-top: 20px;
}
.exp2 .step11Ctrl{
    position: absolute;
    width: 150px;
    height: 36px;
    left: 110px;
    top: 135px;
    /*background: url(../../images/exp2/step11/ctrl.gif) no-repeat;*/
}
.exp2 .step12Image{
    width:534px;
    height: auto;
    display: block;
    margin-left:10px;
    margin-top: 10px;
    position: absolute;
    top:100px;
    left:0px;
}
.exp2 .step12Controls{
    margin-left: 545px;
    padding-top: 20px;
}
.exp2 .step12Ctrl{
    position: absolute;
    width: 100px;
    height: 36px;
    left: 290px;
    top: 185px;
    /*background: url(../../images/exp2/step12/ctrl1.gif) no-repeat;*/
}
.exp2 .step13Image{
    width: 534px;
    height: auto;
    display: block;
    margin-left:10px;
    margin-top: 10px;
    position: absolute;
    top:70px;
    left:0px;
}
.exp2 .step13Controls{
    margin-left: 545px;
    padding-top: 20px;
}
.exp2 .step13Ctrl{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
    /*background: url(../../images/exp2/step1/ctrl.gif) no-repeat;*/
}
.exp2 .step14Image1{
    width: 539px;
    height: auto;
    position: absolute;
    left:50px;
    top:100px;
}
.exp2 .step14Image2{
    width: 319px;
    height: auto;
    position: absolute;
    left:650px;
    top:200px;
}
.exp2 .step14Ctrl1{
    position: absolute;
    left: 378px;
    top: 170px;
    width: 36px;
    height: 36px;
    /*background: url(../../images/exp2/step14/ctrl.gif) no-repeat;*/
}
.exp2 .step14Ctrl2{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
    /*background: url(../../images/exp2/step1/ctrl.gif) no-repeat;*/
}
.exp2 .step15Image1{
    width: 539px;
    height: auto;
    position: absolute;
    left:50px;
    top:100px;
}
.exp2 .step15Image2{
    width: 319px;
    height: auto;
    position: absolute;
    left:650px;
    top:200px;
}
.exp2 .step15Ctrl1{
    position: absolute;
    left: 318px;
    top: 130px;
    width: 36px;
    height: 36px;
    /*background: url(../../images/exp2/step15/ctrl.gif) no-repeat;*/
}
.exp2 .step15Ctrl2{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
    /*background: url(../../images/exp2/step1/ctrl.gif) no-repeat;*/
}
/*.exp2 .step16Ctrl{
    position: absolute;
    left: 725px;
    top: 195px;
    width: 150px;
    height: 32px;
    *//*background: url(../../images/exp2/step16/ctrl.gif) no-repeat;*//*
}*/
/*.exp2 .step16Image{
    width: 803px;
    margin: auto;
    display: block;
}*/

.exp2 .step16Image1{
    width: 539px;
    height: auto;
    position: absolute;
    left:50px;
    top:100px;
}
.exp2 .step16Image2{
    width: 319px;
    height: auto;
    position: absolute;
    left:650px;
    top:200px;
}
.exp2 .step16Ctrl1{
    position: absolute;
    left: 485px;
    top: 168px;
    width: 36px;
    height: 36px;
    /*background: url(../../images/exp2/step17/ctrl.gif) no-repeat;*/
}
.exp2 .step16Ctrl2{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
    /*background: url(../../images/exp2/step1/ctrl.gif) no-repeat;*/
}
.exp2 .step17Image1{
    width: 539px;
    height: auto;
    position: absolute;
    left:50px;
    top:100px;
}
.exp2 .step17Image2{
    width: 319px;
    height: auto;
    position: absolute;
    left:650px;
    top:200px;
}
.exp2 .step17Image3{
    max-width:100% ;
    margin:50px auto;
    display: block;
}
.exp2 .step17Ctrl1{
    position: absolute;
    left: 405px;
    top: 168px;
    width: 36px;
    height: 36px;
    /*background: url(../../images/exp2/step25/ctrl.gif) no-repeat;*/
}
.exp2 .step17Ctrl2{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
}

.exp2 .step18Image1{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
.exp2 .step18Ctrl1{
    position: absolute;
    left: 528px;
    top: 208px;
    width: 30px;
    height: 30px;
}
.exp2 .step18Ctrl2{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
}
.exp2 .step19Image1{
    position: absolute;
    left:250px;
    top:50px;
}
.exp2 .step19Ctrl1{
    position: absolute;
    left: 690px;
    top: 435px;
    width: 35px;
    height: 35px;
}
.exp2 .step19Ctrl2{
    position: absolute;
    left: 725px;
    top: 435px;
    width: 35px;
    height: 35px;
}
.exp2 .step19Ctrl3{
    position: absolute;
    left: 690px;
    top: 460px;
    width: 35px;
    height: 35px;
}
.exp2 .step19Ctrl4{
    position: absolute;
    left: 690px;
    top: 485px;
    width: 35px;
    height: 35px;
}
.exp2 .step20Image1{
    position: absolute;
    left:50px;
    top:100px;
    width: 300px;
}
.exp2 .step20Controls{
    margin-top: 430px;
    display: inline-block;
}
.exp2 .step20Image2{
    width: 319px;
    height: auto;
    position: absolute;
    left:650px;
    top:200px;
}
.exp2 .step20Controls .sliderContainer{
    position: relative;
    display: inline-block;
    margin-left: 40px;
}
.exp2 .step20Controls .sliderContainer .bg{
    width: 347px;
    height: 40px;
    background: url(../../images/exp2/step20/image3.jpg) no-repeat;
}
.exp2 .step20Controls .sliderContainer .slider{
    width: 21px;
    height: 23px;
    position: absolute;
    top:2px;
    left:15px;
    background: url(../../images/exp2/step20/image4.png) no-repeat;
    cursor: pointer;
    font-size: 0px;
}
.exp2 .step20Controls .sliderContainer .slider.error{
    border: 2px solid red;
    font-size: 24px;
    color: red;
    line-height: 23px;
    text-align: center;
}
.exp2 .step20AnimateContainer{
    position: absolute;
    left:480px;
    top: 100px;
    overflow:hidden;
}
.exp2 .step20AnimateContainer .image2{
    position: absolute;
    bottom:0px;
    left:0px;
    z-index: 100;
}
.exp2 .step20AnimateContainer .image3{
    position: absolute;
    bottom:-100px;
    left:120px;
}
.exp2 .step20Ctrl1{
    position: absolute;
    left: 58px;
    top: 452px;
    width: 20px;
    height: 20px;
}
.exp2 .step20Ctrl2{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
    /*background: url(../../images/exp2/step1/ctrl.gif) no-repeat;*/
}
.exp2 .step21.tips{
    position: absolute;
    left: 600px;
    text-align: left;
    top: 100px;
}
.exp2 .step21AnimateContainer{
    position: absolute;
    left:180px;
    top: 100px;
    overflow:hidden;
    height: 500px;
    width: 400px;
}
.exp2 .step21AnimateContainer .image1{
    position: absolute;
    top:-240px;
    left:36px;
    z-index: 100;
}
.exp2 .step21AnimateContainer .image2{
    position: absolute;
    bottom:25px;
    left:120px;
}
.exp2 .step21AnimateContainer .image3{
    position: absolute;
    bottom:0px;
    left:0px;
    z-index: 101;
}
.exp2 .step21Image4{
    width: 200px;
    position: absolute;
    left: 500px;
    top:250px;
}
.exp2 .step21Image5{
    width: 200px;
    position: absolute;
    left: 750px;
    top:250px;
}
.exp2 .step21Image6{
    width: 200px;
    position: absolute;
    left: 550px;
    top:450px;
}
.exp2 .step21Ctrl1{
    position: absolute;
    left: 555px;
    top: 308px;
    width: 81px;
    height: 61px;
}
.exp2 .step21Ctrl2{
    position: absolute;
    left: 810px;
    top: 268px;
    width: 81px;
    height: 61px;
}
.exp2 .step21Ctrl3{
    position: absolute;
    left: 565px;
    top: 480px;
    width: 81px;
    height: 61px;
}
.exp2 .step21Ctrl4{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
}
.exp2 .step22Image1{
    width: 396px;
    height: auto;
    position: absolute;
    left:50px;
    top:130px;
}
.exp2 .step22Image2{
    width: 559px;
    height: auto;
    position: absolute;
    left:450px;
    top:100px;
}
.exp2 .step22Ctrl1{
    position: absolute;
    left: 250px;
    top: 160px;
    width: 90px;
    height: 90px;
}
.exp2 .step22Ctrl2{
    position: absolute;
    left: 340px;
    top: 160px;
    width: 90px;
    height: 90px;
}
.exp2 .step22Ctrl3{
    position: absolute;
    left: 60px;
    top: 160px;
    width: 90px;
    height: 90px;
}
.exp2 .step22Ctrl4{
    position: absolute;
    left: 150px;
    top: 300px;
    width: 90px;
    height: 90px;
}
.exp2 .step22Ctrl5{
    position: absolute;
    left: 160px;
    top: 200px;
    width: 90px;
    height: 90px;
}
.exp2 .step22Ctrl6{
    position: absolute;
    left: 220px;
    top: 260px;
    width: 90px;
    height: 90px;
}
.exp2 .step22Ctrl7{
    position: absolute;
    left: 260px;
    top: 330px;
    width: 90px;
    height: 90px;
}
.exp2 .step22Ctrl8{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
}

.exp2 .step23Image1{
    width: 396px;
    height: auto;
    position: absolute;
    left:50px;
    top:150px;
}
.exp2 .step23Image2{
    height: auto;
    position: absolute;
    left:550px;
    top:150px;
}
.exp2 .step23Ctrl1{
    position: absolute;
    left: 50px;
    top: 178px;

    width: 128px;
    height:98px;
}
.exp2 .step23Ctrl2{
    position: absolute;
    left: 240px;
    top: 338px;
    width: 128px;
    height:98px;
}
.exp2 .step23Ctrl3{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
}

.exp2 .step24Image1{
    width: 350px;
    height: auto;
    position: absolute;
    left:50px;
    top:100px;
}
.exp2 .step24Image2{
    width: 500px;
    height: auto;
    position: absolute;
    left:450px;
    top:100px;
}
.exp2 .step24Ctrl1{
    position: absolute;
    left: 818px;
    top: 148px;
    width: 90px;
    height: 90px;
}
.exp2 .step24Ctrl2{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
}

.exp2 .step25Image1{
    width: 500px;
    height: auto;
    position: absolute;
    left:50px;
    top:100px;
}
.exp2 .step25Controls{
    margin-left: 550px;
}
.exp2 .step25Ctrl1{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
}


.exp2 .step26Image1{
    width: 500px;
    position: absolute;
    left:50px;
    top:100px;
}
.exp2 .step26Image2{
    position: absolute;
    width: 300px;
    left:600px;
    top: 100px;
}
.exp2 .step26Ctrl1{
    position: absolute;
    left: 763px;
    top: 178px;
    width: 30px;
    height: 30px;
}
.exp2 .step26Ctrl2{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
}

.exp2 .step27Image1{
    width: 600px;
    height: auto;
    position: absolute;
    left:150px;
    top:60px;
}
.exp2 .step27Ctrl1{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
}


.exp2 .step28Image1{
    width: 600px;
    display: block;
    margin:50px auto 0px 20px;
}
.exp2 .step28Image2{
    width: 200px;
    position: absolute;
    left:700px;
    top:110px;
}
.exp2 .step28Image3{
    width: 300px;
    position: absolute;
    left:700px;
    top:200px;
}
.exp2 .step28Ctrl1{
    position: absolute;
    width: 60px;
    height: 40px;
    left: 705px;
    top: 135px;
}
.exp2 .step28Ctrl2{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 705px;
    top: 355px;
}
.exp2 .step28Ctrl3{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
}
.exp2 .step29Image{
    width: 450px;
    display: block;
    margin: 50px auto 0px auto;
}
.exp2 .step29Ctrl{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
}
.exp2 .step30Image{
    width: 330px;
    display: block;
    margin: 50px auto 0px auto;
}
.exp2 .step30Ctrl1{
    position: absolute;
    width: 60px;
    height: 40px;
    left: 335px;
    top: 275px;
}
.exp2 .step30Ctrl2{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
}

.exp2 .step31Image1{
    width: 600px;
    display: block;
    margin: 30px auto 0px 20px;
}
.exp2 .step31Image2{
     width: 350px;
     display: block;
    position: absolute;
    left:640px;
    top:100px;
}
.exp2 .step31Ctrl1{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 75px;
    top: 185px;
}
.exp2 .step31Ctrl2{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 355px;
    top: 185px;
}
.exp2 .step31Ctrl3{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 480px;
    top: 185px;
}
.exp2 .step31Ctrl4{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 205px;
    top: 260px;
}
.exp2 .step31Ctrl5{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
}

.exp2 .step32Image{
    width: 600px;
    display: block;
    margin: 30px auto 0px auto;
}
.exp2 .step32Ctrl1{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 255px;
    top: 185px;
}
.exp2 .step32Ctrl2{
     position: absolute;
     left:60%;
     top:15px;
     width: 141px;
     height:35px;
     padding-left: 10px;
     line-height: 35px;
 }

.exp2 .step33.tips{
    position: absolute;
    left: 600px;
    text-align: left;
    top: 100px;
}
.exp2 .step33AnimateContainer{
    position: absolute;
    left:180px;
    top: 100px;
    overflow:hidden;
    height: 500px;
    width: 400px;
}
.exp2 .step33AnimateContainer .image1{
    position: absolute;
    top:40px;
    left:36px;
    z-index: 100;
}
.exp2 .step33AnimateContainer .image2{
    position: absolute;
    bottom:25px;
    left:120px;
}
.exp2 .step33AnimateContainer .image3{
    position: absolute;
    bottom:0px;
    left:0px;
    z-index: 101;
}
.exp2 .step33Image4{
    width: 200px;
    position: absolute;
    left: 500px;
    top:250px;
}
.exp2 .step33Image5{
    width: 200px;
    position: absolute;
    left: 750px;
    top:250px;
}
.exp2 .step33Image6{
    width: 200px;
    position: absolute;
    left: 550px;
    top:450px;
}
.exp2 .step33Ctrl1{
    position: absolute;
    left: 555px;
    top: 308px;
    width: 81px;
    height: 61px;
}
.exp2 .step33Ctrl2{
    position: absolute;
    left: 810px;
    top: 268px;
    width: 81px;
    height: 61px;
}
.exp2 .step33Ctrl3{
    position: absolute;
    left: 565px;
    top: 480px;
    width: 81px;
    height: 61px;
}
.exp2 .step33Ctrl4{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
}


.exp2 .step34Image1{
    position: absolute;
    left:50px;
    top:100px;
    width: 300px;
}
.exp2 .step34Controls{
    margin-top: 400px;
    display: inline-block;
}
.exp2 .step34Image2{
    width: 319px;
    height: auto;
    position: absolute;
    left:650px;
    top:340px;
}
.exp2 .step34Controls .sliderContainer{
    position: relative;
    display: inline-block;
    margin-left: 40px;
}
.exp2 .step34Controls .sliderContainer .bg{
    width: 347px;
    height: 40px;
    background: url(../../images/exp2/step34/image3.jpg) no-repeat;
}
.exp2 .step34Controls .sliderContainer .slider{
    width: 21px;
    height: 23px;
    position: absolute;
    top:2px;
    left:150px;
    background: url(../../images/exp2/step34/image4.png) no-repeat;
    cursor: pointer;
    font-size: 0px;
}

.exp2 .step34AnimateContainer{
    position: absolute;
    left:480px;
    top: 100px;
    overflow:hidden;
}
.exp2 .step34AnimateContainer .image2{
    position: absolute;
    bottom:0px;
    left:0px;
    z-index: 100;
}
.exp2 .step34AnimateContainer .image3{
    position: absolute;
    bottom:20px;
    left:120px;
}
.exp2 .step34Ctrl1{
    position: absolute;
    left: 54px;
    top: 452px;
    width: 34px;
    height: 34px;
}
.exp2 .step34Ctrl2{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
}
.exp2 .step35Image1{
    margin:20px auto;
    width: 769px;
    display: block;
}
.exp2 .step35Ctrl1{
    position: absolute;
    left:60%;
    top:15px;
    width: 141px;
    height:35px;
    padding-left: 10px;
    line-height: 35px;
}
.exp2 .step36Image1{
    margin:20px auto;
    width: 450px;
    display: block;
}


/**
*文章详情
*/
.single{
    width: 80%;
    margin:40px auto;
    line-height: 20px;
}
.single p{
    text-indent: 28px;
}
.single img{
    display: block;
    margin: auto;
    max-width: 100%;
}

/**
*lists
*/
.list{
    width: 1000px;
    font-size: 0px;
    margin:auto;
}
.list li{
    display: inline-block;
}
.list li a{
    width: 400px;
    display: block;
    height: 435px;
    font-size: 0px;
    margin: 50px;
}
.list li .exp1{
    background: url(../../images/app/exp1.png) no-repeat;
}
.list li .exp2{
    background: url(../../images/app/exp2.png) no-repeat;
}
/*
*
*/
.list1{
    width: 100%;
}
.list1 li{
    display: block;
    margin: 35px;
}
.list1 li a{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 30px 0px;
    font-size: 36px;
    border: 1px solid #ccc;
    text-align: center;
    display: block;
}
